

@media screen and (max-width: 550px) {
    .home {
      margin-top: 0px;
      padding: 0;
      flex-direction: column-reverse;
      width: 80vw;
      border: 2px solid rebeccapurple;
    }
    .links{
      justify-content: center;
    }
    nav,.cursor{
      display:none;
    }
    .skills{
      flex-direction: column;
      gap: 0;
    }
    .menu-container {
      display: flex; 
    }
    section{
      width: 80vw;
      padding-top: 6rem;
    }
    
  }

@media (min-width: 550px) and (max-width: 730px) {
    .home {
      width: 100vw;
      flex-direction: row;
      padding: 20px;
    }
    .skills{
      flex-direction: column;
      gap: 0;
    }
    
  }
  @media (min-width: 731px){
    .skills{
      flex-direction: row;
      gap: 0;
    }
  }
  

  